{% extends "index.html" %} {% block content %}

<h1>{{tittle}}</h1>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Documento</th>
      <th scope="col">Rol</th>
    </tr>
  </thead>
  <style>
    .modal {
      width: 100%;
      height: 100%;
    }
    input[type="text"] {
      padding: 1px;
      border-radius: 20px;
      border: 1px solid #ccc;
      font-size: 20px;
    }
    .formulario {
      color: white;
      font-size: 23px;
      background-color: #444;
      padding: 6px;
      margin-bottom: 1px;
      border-radius: 9px;
      border: 1px solid black;
      font-size: 16px;
      margin-left: 950px;
      position: relative;
      -top: 100px;
    }
    .boton-guardar {
      padding: 7px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 9px;
      font-size: 16px;
    }
    .boton-guardar:hover {
      background-color: #b4870a;
    }
    .modal-content {
      background-color: #444;
      margin: 20%;
      padding: 20px;
      border: 30px solid #888;
      width: 50%;
    }

    .close {
      color: red;
      font-size: 40px;
      font-weight: bold;
    }
  </style>
  <tbody>
    <h1>
      <button id="openFormBtn" class="formulario">Abrir Formulario</button>
    </h1>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Formulario de Estudiante</h2>
        <form id="estudianteForm" method="POST" action="{% url 'create_Persona' %}"
        >
          {% csrf_token %}
          <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required><br><br>

      <label for="apellidos">Apellidos:</label>
      <input type="text" id="apellidos" name="apellidos" required><br><br>

      <label for="dni">DNI:</label>
      <input type="text" id="dni" name="dni" required><br><br>

      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" name="telefono" required><br><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>

      <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
      <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>

      <label for="rol">Rol:</label>
      <input type="text" id="rol" name="rol" required><br><br>

          <button type="submit" class="boton-guardar">
            Guardar Estudiante
          </button>
        </form>
      </div>
    </div>

    <script>
      var modal = document.getElementById("myModal");
      var btn = document.getElementById("openFormBtn");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function () {
        modal.style.display = "block";
      };

      span.onclick = function () {
        modal.style.display = "none";
      };
    </script>

    {% for estudiante in estudiantes %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{estudiante.nombre}}</td>
      <td>{{estudiante.apellidos}}</td>
      <td>{{estudiante.dni}}</td>
      <td>{{estudiante.rol}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}